@import 'Colors';

.dock-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dock-component__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.scheduler-task-component__icon,
.settings-dock-component__icon,
.timeline-dock-component__icon
{
  position: absolute;
  width: 50px;
  height: 50px;
}

.scheduler-task-component__icon {
  background-color: darkseagreen;
}

.settings-dock-component__icon {
  background-color: aqua;
  right: 50px;
}

.timeline-dock-component__icon {
  background-color: darkslategray;
  left: 500px;
}

